:root
{
    --form-primary-color:#ff00bf;
    --form-secondary-color:#6f00ff;
    --form-bg-color:#191919;
    --form-error-color:rgb(204, 68, 68);
}


.creator-container
{
    margin:0;
    padding: 0;
}

.creator-form
{
    width: 600px;
    padding: 40px;
    background-color: blanchedalmond;
    margin: auto;
    background: var(--form-bg-color);
    border: 2px solid var(--form-primary-color);
    box-shadow: 0 0 30px var(--form-primary-color);
    border-radius: 30px;
    text-align: center;
    transition: 2s;
    margin-bottom: 1em ;
}

.creator-title
{
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

#creator-input-title
{
    border: 0;
    font-size: 24px;
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--form-secondary-color);
    width: 350px;
    outline: none;
    color: white;
    font-weight: 100;
    border-radius: 24px;
    transition: .5s;
}

#creator-input-content
{
    border: 0;
    font-size: 24px;
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--form-secondary-color);
    width: 350px;
    height: 150px;
    outline: none;
    color: white;
    font-weight: 100;
    border-radius: 24px;
    transition: .5s;
}

#creator-input-title:focus,
#creator-input-content:focus
{
    width: 400px;
    border-color: var(--form-primary-color);
}

.creator-submit-button
{
    border: 0;
    font-size: 16px;
    background: none; 
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--form-primary-color);
    outline: none;
    color: white;
    font-weight: 100;
    padding: 14px 40px;
    border-radius: 24px;
    transition: .5s;
    cursor: pointer;
}

.creator-submit-button:hover
{
    background-color: var(--form-primary-color);
    
    box-shadow: 0 0 10px var(--form-primary-color),
    0 0 25px var(--form-primary-color),
    0 0 75px var(--form-primary-color);
}

@media only screen and (max-width: 700px)
{
    .creator-container{width: 100%;}
    .creator-form{width: 100%;margin: 0 auto; position: static;}
    .creator-title{font-size: 40px;}
    .creator-submit-button{font-size: 10px;}


    #creator-input-title,
    #creator-input-content
    {
        width: 150px;
        border-color: var(--form-secondary-color);
        font-size: 10px;
    }

    #creator-input-title:focus,
    #creator-input-content:focus
    {
        width: 200px;
        border-color: var(--form-primary-color);
    }
}