html{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(https://sun9-18.userapi.com/impg/gJ3ZnVgTivQps3AlwwV5acYwguS02czHJSdb1A/a5gYGKBUJSc.jpg?size=1280x1280&quality=96&sign=a0ee9934da4cf2d306a7abba8df1aa6e&type=album) no-repeat; */
  background-size: 100%;
  background-color: rgb(2, 2, 2);
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form{
  padding: 2em;
  margin-top: 5em;
}

.change-role-btn{
  text-align: center;
  width: 10em;
  font-size: 10px;
}

.users{
  display: flex;
  flex-wrap: wrap;
}
.user-card{
  margin-left: 15em;
  margin-right: 15em;
}

